.container {
    margin: 0 auto;
    width: 940px;
    }

header {
    position: relative;
}
    
.sacola {
    position: absolute;
    top: 0;
    right: 0;
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 14px;
    padding-right: 35px;
    padding-top: 8px;
    text-align: right;
    width: 140px;
    }

body {
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
     
.menu-opcoes a {
    color: #003366;
}

.menu-opcoes {
    color: #003366;
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul li {
    display: inline;
    margin-left: 20px;
}


